# Игнорируем временные файлы
*.swp
*.bak
*.tmp

# Игнорируем файлы, которые генерируются
.cats
.catsread

# Игнорируем директории, которые могут быть созданы для тестов или сборки
/node_modules
/.vscode
/.idea
